body{
    background-image: url(./New_Main_Background1_upscaled_compressed.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Segoe UI Light';
    }

.name-block{ 
    text-align: center;
    padding: 20px;
    }

.main-content
    {
    width: 65%;
    background-color: LightSteelBlue;
    margin-left: auto;         
    margin-right: auto;
    padding: 20px;
    }

h2, h3, h4{text-align: center;}
